.wrapper{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 2rem;
}
.title{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: var(--x);
    text-align: center;
    color:  var(--text-color);
    margin-bottom: 2.4rem;
}

.result{
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: var(--s);
    color: var(--text-color);
}

.resultContent{
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(20rem, 1fr));
    overflow-y: auto;
}
@media (max-width: 1200px) {
    .resultContent{
        gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(14rem, 1fr));
    }
}

@media (max-width: 962px) {
    .resultContent{
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(21vw, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(15rem, 1fr));
    }
}
@media (max-width: 698px) {
    
}