.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
}
.titleBlock{
    display: block;
    max-width: fit-content;
    text-align: center;
}
.title,
.boldTitle{
    font-family: Poppins;
    font-size: 4rem;
    font-weight: normal;
    color: var(--background);
}
.boldTitle{
    font-family: Poppins;
    font-size: 4rem;
    font-weight: bold;
    color: var(--background);

}
.registerContainer{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    justify-content: center;
    align-items: center;
}

.goRegister{
    font-family: Poppins;
    font-size: var(--s);
    font-weight: 400;
}

.goRegister a{
    font-family: Poppins;
    font-size: var(--s);
    font-weight: 400;
    color: var(--primary);
}

@media (max-width: 842px) {
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .hero{
        display: none;
    }
}